{
    auto_https off
    admin off
}

:{$PORT:5173} {
    root * /srv

    encode zstd gzip

    handle /health {
        respond "OK" 200
    }

    handle {
        try_files {path} /index.html
        file_server
    }
}